/* This is the css, I think a lot of it contrasts with bootstrap, if i'm being honest chat gpt wrote most of it because making nice UI is hard */


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #333;
}

.form-group {
  justify-content: center;
}

input.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  min-width: 250px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#dash {
  width: 95%;
  height: calc(100vh - 200px);
  margin-left: auto;
  margin-right: auto;
}

.align-items-center {
  align-items: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  /* Specify the properties you want to transition */
  transition: height 1s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrapper.moveToTop {
  justify-content: center;
  height: auto;
  position: static;
  transform: none;
}

.footer {
  position: fixed;
  /* Fixes the footer to the bottom */
  bottom: 0;
  /* Positions the footer at the bottom of the viewport */
  z-index: 1000;
  /* Keeps it on top of other content */
  background-color: rgba(247, 247, 247, 0.95);
  /* Slightly translucent background */
  width: 100%;
  /* Ensures the footer spans the full width of the viewport */
  text-align: center;
  /* Center aligns the text */
}

.container p-2 {
  margin: 0;
  padding: 5px;
}

#footerspan {
  padding: 0px 25px 0px;
}

#decordiv {
  margin-bottom: 50px;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 2.5rem;
}

.col-md-6 img.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.col-lg-6 img.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
}

ol li {
  text-align: justify;
  text-justify: inter-word;
  font-weight: 100;
  font-size: 1rem;
}

ol {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#explhead {
  font-weight: 100;
  font-size: 1.5rem;
}